@page
@model Matriculas.App.WebApp.Pages.Administrativo.Materias.CreateModel
@{
}

<h1 class="h3 mb-2 text-gray-800">Modulo de administracion de materias - Crear</h1>
<div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <input type="hidden" asp-for="Model.IdMateria" />
        <div class="mb-3">
            <label class="form-label" asp-for="Model.NombreMateria">Nombre</label>
            <input type="text" asp-for="Model.NombreMateria" class="form-control" />
            <span asp-validation-for="Model.NombreMateria" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Seleccione el grado</label>
            @if (Model.Grados.Count() > 0)
            {
                <select class="form-control" name="grado" id="grado">
                    @foreach (var item in Model.Grados)
                    {
                        <option value="@item.IdGrado" id="select-@item.IdGrado">@Html.DisplayFor(m=> item.NombreGrado)</option>
                    }
                </select>
            }
            else
            {
                <p> No existen grados en la db </p>
            }
        </div>

        <div class="mb-3">
            <label class="form-label">Seleccione el Profesor</label>
            @if (Model.Profesores.Count() > 0)
            {
                <select class="form-control" name="profesor" id="profesor">
                    @foreach (var item in Model.Profesores)
                    {
                        <option value="@item.IdProfesor" id="select-@item.IdProfesor">@Html.DisplayFor(m=> item.Nombre) @Html.DisplayFor(m=> item.Apellido)</option>
                    }
                </select>
            }
            else
            {
                <p> No existen profesores en la db </p>
            }
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a class="btn btn-primary btn-icon-split" href='javascript:history.go(-1)'>
                        <span class="text">Atras</span>
                    </a>
                    <button type="submit" class="btn btn-success ml-2">Save</button>
                </div>
            </div>
            <br />
            <br />
        </div>
    </form>
</div>