@page
@model Matriculas.App.WebApp.Pages.Administrativo.Materias.IndexModel
@{
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Modulo de Administracion de materias</h1>
    <p class="mb-4">
        Pagina de adiministracion de materias.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado de materias disponibles</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Profesor</th>
                            <th>Grado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.Materias)
                        {
                            <tr>
                                <td>@item.IdMateria</td>
                                <td>@item.NombreMateria</td>
                                <td>@item.Profesor.Nombre  @item.Profesor.Apellido </td>
                                <td>@item.Grado.NombreGrado</td>
                                <td>
                                    <a class="btn btn-primary btn-icon-split" asp-page="Edit" asp-route-id="@item.IdMateria">
                                        <span class="text">Editar</span>
                                    </a>
                                    <a class="btn btn-danger btn-icon-split" asp-page="Delete" asp-route-id="@item.IdGrado">
                                        <span class="text">Eliminar</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


        <form method="post">
            <div asp-validation-summary="All" class="text-danger">
            </div>
            <div class="container">
                <div>
                    <p>
                        <a class="btn btn-primary btn-icon-split" asp-page="Create">
                            <span class="text">Crear Materia</span>
                        </a>
                    </p>
                </div>
            </div>
        </form>
    </div>

</div>